body img {
    z-index: 1;
    position: absolute;
    width: 1600px;
    height: 1200px;
}

div{
    z-index: 1;
    padding-top: 20px;
    padding-left: 480px;
    position: absolute;
}

div div {
    z-index: 4;
    position: absolute;
    border: 1px solid black;
    width: 1060px;
    background-color: white;
    padding-left: 10px;
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
}



